.about{
    padding-top: 5rem;
    font-family: var(--font);
    background: #F5F5F5;
    background-image: url("https://media.istockphoto.com/photos/flat-lay-mockup-golden-frame-white-flowers-cup-of-coffee-on-a-white-picture-id1322727843?b=1&k=20&m=1322727843&s=170667a&w=0&h=OfsIr2e3C60NLKmyRkhIyH-x_YGJUFkOAHxxZzIveEk=");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 100% 100%;
}
.about-title h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 4rem;
    text-shadow: 2px 2px 5px #888;
}
.about-content{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-right: 10rem;
}
.about-content-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content-avatar > img{
    border-radius: 1rem;
    box-shadow: 2px 2px 5px #888;
}
.about-content-desc {
    align-self: center;
}
.about-content-desc > h3{
    font-size: 1.7rem;
    font-weight: 500;
}
.about-content-desc > p{
    font-size: 1rem;
    font-weight: 100;
    padding-top: 1rem;
    padding-bottom: 2rem; 
}
.about-content-desc > button{
    padding: 0.75rem 3rem;
    border-radius: 0.5rem;
    background: var(--red);
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    transition: 0.2s linear;
}
.about-content-desc > button:hover{
    background: transparent;
    border: 2px solid var(--red);
    color: var(--red);
}